.container {
  
  border: 1px solid #ccc;
    max-width: 800px;
    margin: 50px auto;
  
  }
  
  .displaybody {
    margin-top: 20px;
  }
  
  .contentbody {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .title {
    color: #060606;
  }
  
  .para {
    margin: 10px 0;
  }
  
  .methods {
    margin-bottom: 15px;
    font-size: larger;
    font-weight: 400;
    font-style: bold;
    
  }
  
  /* Align to the left using flexbox */
  .left-align {
    display: flex;
    justify-content: flex-start;
  }
  
  /* Remove bullet styles for ul and li */
  ul, li {
    list-style-type: none;
  }
  
  /* Style the nested ul */
  ul ul {
    margin-top: 5px;
  }
  