.searcharea{
   background: transparent;
}

.searchform{
    background: transparent;
}

.center{
    background: transparent;
}


.searchbar{
    padding: 10px;
    width: 50%;
    height: 30px;
    margin-top: 20px;
    background: rgb(216, 238, 206);
    font-size: large;
    border-radius: 28px;
    border: none;
}

.searchbtn{
    padding: 10px;
    width: 100px;
    height: 53px;
    border-radius: 30px;
    background: rgb(183, 243, 92);
    border: grey;
    font-size: 18px;

}

.dataarea{

}

.parahead{
    font-size: larger;
    background: none;
    font-weight: 550;
    font: bold;
    color: rgb(202, 30, 30);
}

.content{
    background: transparent;
    margin: 2px;
    width: 80%;
    padding: 10px;
    font-weight: 500;
    font-size: large;
    border:2px solid black;
    border-radius: 20px;
    backdrop-filter: blur(80px);
    text-align: left;
   
}

.content:hover{
    background: rgb(214, 153, 30);
    color: black;
    font-size: larger;
    font-weight: 550;
    

}
