
.navigationbar{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    position: sticky;
    border-bottom: 2px solid black;
    
}



.navigationbar ul {
    display: flex;
    flex-direction: row;
    margin-right: 40px;
    list-style-type: none;
    background: transparent;
   
  }
 
  

.nav-heading{
    padding: 10px;
    margin: 10px;
    margin-left: 20px;
    font-size: 28px;
    background: transparent;
    text-decoration: none;
}

Link{
    text-decoration: none;
}

button{
    background: none;
    border: none;  
    margin: 5px 10px;
    padding: 10px;
    height: 40px;
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
}



button:hover{
        border:  1px solid black;
  
}




