
.navigationbar{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    position: sticky;
    border-bottom: 2px solid black;
    
}



.navigationbar ul {
    display: flex;
    flex-direction: row;
    margin-right: 40px;
    list-style-type: none;
    background: transparent;
   
  }
 
  

.nav-heading{
    padding: 10px;
    margin: 10px;
    margin-left: 20px;
    font-size: 28px;
    background: transparent;
   text-decoration: none;
}

Link{
    text-decoration: none;
}

button{
    background: none;
    border: none;  
    margin: 5px 10px;
    padding: 10px;
    height: 40px;
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    button {
        display: none; 
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #f9f9f9;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
}

button.show{
        display: flex;
}



button:hover{
        border:  1px solid black;
  
}




