.container {
  border: 1px solid #ccc;
  max-width: 80%;
  margin: 50px auto;

}


.displaybody {
  margin-top: 20px;
  
}

h1 {
  margin: 20px 0;

}

.contentbody {
  border-top: 1px solid #ccc;
  padding: 20px;
  padding-bottom: 40px;
  margin-bottom: 10px;
  width: 90%;
  background: none;
  backdrop-filter: blur(150px);
}
/* un comment the below code if u want to use the background effect to change on hovering */ 
/* .contentbody:hover{
  background-color: rgb(163, 110, 29);
  backdrop-filter: blur(1000px);
} */

.title {
  color: #060606;
  margin: 10px 0;
  padding: 10px 20px;
  font-size: xx-large;
  background: none;
  text-decoration: underline;
}

.para {
  margin: 10px 0;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  background: none;
  color: rgb(241, 241, 30);
}

.methods {
  margin: 15px 0px;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  background: none;
  text-decoration: underline;
}

/* Remove bullet styles for ul and li */
ul, li {
  background: none;
  font-size: 18px;
  padding: 10px 20px;
  text-align: left;
}

ul strong {
  background: none;
  color: rgb(132, 232, 9);
  font-size: large;
  text-decoration: underline;
  list-style-type: none;
}

/* Style the nested ul */
ul ul {
  margin-top: 5px;
  background: none;
}
